<div class="movieId-container">
  <div class="movieId-image">
    <img src="{{movie.poster}}">
  </div>
  <div class="movieId-info">
    <h3>Title:  {{movie.title}}</h3>
    <h3>Year:  {{movie.year}}</h3>
    <h3>Synopsis:  {{movie.synopsis}}</h3>
    <h3>Genres:</h3>
    <ul>
       <li *ngFor="let genre of movie?.genres"><h4>{{ genre }}</h4></li>
    </ul>
    <h3>Director:  {{movie.director}}</h3>
    <ul>
      <li *ngFor="let actor of movie?.actors"><h4>{{ actor }}</h4></li>
    </ul>
  </div>

</div>
